.NavigationItem{
    margin: 0;
    box-sizing: border-box;
    width:100%;
    display: block;
    height:100%;
    width:auto;
    align-items: center;
}

.NavigationItem a{
    color:white;
    text-decoration: none;
    height: 100%;
    outline: none;
    padding: 16px 0;
    font-weight: 600;
    font-size:1rem;
    font-family:'Roboto', 'sans-serif';
}

.NavigationItem:not(:first-child) a{
    line-height:80px;
}
.NavigationItem:nth-child(2){
    position:absolute;
    right:240px;
}

.NavigationItem:nth-child(3){
    position:absolute;
    right:60px;
}

@media (min-width: 200px) and (max-width:550px){
    .NavigationItem{
        padding:20px 20px;
        margin-top:0;    
    }
    .NavigationItem a{
        color:#ed3e3e;   
    }
    .NavigationItem:not(:first-child) a{
        line-height:0;
    }
    .NavigationItem:nth-child(2){
        position:relative;
        margin-top:100px;
        right:0;
    }
    
    .NavigationItem:nth-child(3){
        position:relative;
        right:0;
    }
}

